
  
  .letter-blink {
    animation: fadeInOut 0.1s ease-in-out; /* Adjust timing for blink speed */
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0.5; } /* You can adjust final opacity or make it 0 */
  }